<script>
	// Imports
	import { openDropdown } from "../stores.js";

	// Exports
	export let countryiso;
	export let currencyiso;
	export let resetReceiver;
</script>

<label>
	<slot />
	<input
		type="button"
		name="currency"
		value={currencyiso}
		on:click={() => (resetReceiver(currencyiso, countryiso), $openDropdown = false)}
	/>
</label>

<style>
	input[type="button"] {
		background: none;
		border: none;
		font-family: 'Euclid WU';
		color: var(--grey);
		font-size: calc(var(--remmy) - 0.05rem);
		cursor: pointer;
	}
	label {
		box-sizing: border-box;
		display: inline-flex;
		align-items: center;
		align-content: center;
		justify-content: flex-start;
		padding: 0 calc(var(--remmy) * 1.5);
		gap: var(--remmy);
		width: 100%;
		min-height: calc(var(--remmy) * 3.5);
		font-size: var(--remmy);
		margin: 0;
	}
	label:hover {
		background-color: var(--light);
		cursor: pointer;
	}
</style>
