<script>
	// Imports
	import 'iconify-icon';
	import InputCountry from "./InputCountry.svelte";
	import language from "../language.js";
	import currencies from "../currencies.js";
	import { slide, fly } from "svelte/transition";
	import { quintOut } from "svelte/easing";
	import { openDropdown, sendLang } from "../stores.js";

	// Exports
	export let resetReceiver;
	export let optimusAll;

	// Props
	let show;
	let searchTerm = "";
	let mergedData = [];
	let mergedDataFilter = [];
	let isDragging = false;
	let startY = 0

	// Merge countries with currencies based on ISO code
	const runMerge = () => {
		console.log("Element Mounted");
		$currencies.forEach(currencyData => {
			const countryKey = currencyData.countryiso;
			if (optimusAll[countryKey]) {
				mergedData.push({
					countryiso: countryKey,
					countryname: optimusAll[countryKey],
					currencies: currencyData.currencies,
				});
			}
		});
		return mergedData;
	};

	// Filter currencies and countries
	const runFilter = () => {
		const removeDiacritics = (str) => {
			return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
		}
		const normalizedSearchTerm = removeDiacritics(searchTerm.trim().toLowerCase());
		mergedDataFilter = mergedData.filter(country => {
            const normalizedCountryName = removeDiacritics(country.countryname.toLowerCase());
            const currencyIsoCodes = [];
            country.currencies.forEach(currency => {
                currencyIsoCodes.push(removeDiacritics(currency.currencyiso.toLowerCase()));
            });
            return normalizedCountryName.includes(normalizedSearchTerm) || currencyIsoCodes.some(code => code.includes(normalizedSearchTerm));
        });
	}

	// Run functions on load
	runMerge(), runFilter()

	// // Sort based on top corridors
	// $: filterGetList?.sort((a, b) => {
	// 	const priorityMap = new Map(optimusTop.map((code, index) => [code, index]));
	// 	const priorityA = priorityMap.get(a.isoCode) ?? Infinity;
	// 	const priorityB = priorityMap.get(b.isoCode) ?? Infinity;
	// 	return priorityA - priorityB || a.isoCode.localeCompare(b.isoCode);
	// }) ?? [];

	// Show dropdown
	const showCollapse = (index) => {
		show = show === index ? null : index;
	};

	// Drag to close dropdown
	const handleTouchStart = (event) => {
		isDragging = true;
		startY = event.touches[0].clientY;
	}

	// Slide to close country list start
	const handleTouchMove = (event) => {
		if (isDragging) {
			const deltaY = event.touches[0].clientY - startY;
			if (deltaY > 80) {
				$openDropdown = false;
				isDragging = false;
			}
		}
	}

	// Slide to close end
	const handleTouchEnd = () => {
		isDragging = false;
	}

	// **** DEV
	$: console.log("optimusAll in different component", optimusAll)
	$: console.log("currencies", $currencies)
	$: console.log("mergedData", mergedData)
</script>

{#if optimusAll != ""}
	<div class:open={$openDropdown} class:fly={() => ($openDropdown = !$openDropdown)} out:fly={{ duration: 1000, y: 1400, opacity: 1, easing: quintOut}}>
		<span on:touchstart|passive={handleTouchStart} on:touchmove|passive={handleTouchMove} on:touchend={handleTouchEnd}>
			<hr>
			<input
				bind:value={searchTerm}
				on:input={() => runFilter()}
				type="search"
				id="search"
				name="search"
				placeholder={$language[$sendLang].searchterm}
				autocomplete="off"
			/>
			<button type="button" on:click={() => ($openDropdown = !$openDropdown)}>
				<iconify-icon icon="iconamoon:close" width="24" height="24"></iconify-icon>
			</button>
		</span>
		<menu>
			{#each mergedDataFilter as {countryname, countryiso, currencies}}
				{#if currencies.length > 1}
					<li>
						<button on:click|stopPropagation={showCollapse(countryiso)}>
							<iconify-icon icon="circle-flags:{countryiso.toLowerCase()}" width="26" height="26"></iconify-icon>
							{countryname}
							<iconify-icon icon="iconamoon:arrow-down-2" width="22" height="22"></iconify-icon>
						</button>
						{#if show === countryiso}
							<ul transition:slide={{duration: 200, easing: quintOut, axis: "y"}}>
								{#each currencies as {currencyiso}}
									<li>
										<InputCountry
											{countryiso}
											{currencyiso}
											bind:resetReceiver>
												<iconify-icon icon="circle-flags:{countryiso.toLowerCase()}" width="22" height="22"></iconify-icon>
												{countryname}
										</InputCountry>
									</li>
								{/each}
							</ul>
						{/if}
					</li>
				{:else}
					{#each currencies as {currencyiso}}
						<li>
							<InputCountry
								{countryiso}
								{currencyiso}
								bind:resetReceiver>
									<iconify-icon icon="circle-flags:{countryiso.toLowerCase()}" width="26" height="26"></iconify-icon>
									{countryname}
							</InputCountry>
						</li>
					{/each}
				{/if}
			{/each}
		</menu>
	</div>
{/if}

<style>
	@media screen and (min-width: 480px) {
		div {
			min-height: 100%;
			max-height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			border-radius: calc(var(--rad) * 2);
		}
		hr {
			visibility: hidden;
		}
	}
	@media screen and (max-width: 480px) {
		div {
			min-height: 100vh;
			max-height: 100vh;
			width: 100%;
			min-width: 100%;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
	div {
		box-sizing: border-box;
		background-color: white;
		border: none;
		overflow-x: scroll;
		overscroll-behavior: contain;
		z-index: 9999999999;
		margin: 0;
		padding: 0;
		will-change: transform;
		top: 0;
	}
	span {
		box-sizing: border-box;
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		position: sticky;
		top: 0;
		background-color: white;
		border-bottom: 1px solid var(--ghost);
		padding: 0 calc(var(--remmy) * 1.4);
		padding-bottom: var(--remmy);
		gap: calc(var(--remmy) / 2);
	}
	hr {
		width: calc(var(--remmy) * 5);
		border: 2px solid var(--light);
		border-radius: 10px
	}
	input[type="search"] {
		font-size: var(--remmy);
		width: calc(100% - calc(var(--remmy) * 3));
		height: calc(var(--remmy) * 3.4);
		padding-left: calc(var(--remmy) * 2.6);
		padding-right: var(--remmy);
		background: white
			url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="28" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="currentColor" d="M9.5 16q-2.725 0-4.612-1.888T3 9.5q0-2.725 1.888-4.612T9.5 3q2.725 0 4.612 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l5.6 5.6q.275.275.275.7t-.275.7q-.275.275-.7.275t-.7-.275l-5.6-5.6q-.75.6-1.725.95T9.5 16Zm0-2q1.875 0 3.188-1.313T14 9.5q0-1.875-1.313-3.188T9.5 5Q7.625 5 6.312 6.313T5 9.5q0 1.875 1.313 3.188T9.5 14Z"%2F%3E%3C%2Fsvg%3E')
			no-repeat 0.625rem center;
		transition: all 0.15s linear;
		border-radius: var(--rad);
		border: 1px solid var(--greyish);
		outline: 0px solid transparent;
		outline-offset: 0px;
	}
	input[type="search"]:focus {
		outline: 2.5px solid var(--dark);
		outline-offset: -2.5px;
	}
	button {
		font-family: 'Euclid WU';
		color: var(--dark);
	}
	span > button {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		min-height: calc(var(--remmy) * 2.2);
		max-height: calc(var(--remmy) * 2.2);
		min-width: calc(var(--remmy) * 2.2);
		max-width: calc(var(--remmy) * 2.2);
		border-radius: calc(var(--rad) * 10);
		border: none;
		background: var(--ghost);
		padding: 0;
	}
	button:hover,
	button:active {
		background: var(--light);
		cursor: pointer;
	}
	li > button {
		border: none;
		background: none;
		box-sizing: border-box;
		display: inline-flex;
		align-items: center;
		align-content: center;
		justify-content: flex-start;
		padding: 0 calc(var(--remmy) * 1.4);
		gap: var(--remmy);
		width: 100%;
		min-height: calc(var(--remmy) * 3.5);
		font-size: var(--remmy);
	}
	li > button > iconify-icon:first-of-type, :global(li > label > iconify-icon) {
		border-radius: calc(var(--rad) * 4);
		background-color: var(--light);
		min-height: 26px;
		min-width: 26px;
	}
	li > button > iconify-icon:last-of-type {
		margin-left: auto;
	}
	:global(li > button > svg:last-of-type) {
		margin-left: auto;
	}
	menu, ul, li {
		box-sizing: border-box;
		list-style: none;
		overflow: hidden;
		margin: 0;
		padding: 0;
	}
	menu {
		margin-bottom: var(--remmy);
	}
	ul > li {
		border-top: 1px solid var(--ghost);
		color: var(--dark);
	}
	menu > li {
		border-bottom: 1px solid var(--ghost);
		color: var(--dark);
	}
	:global(menu > li > ul > li > label) {
		padding-left: calc(var(--remmy) * 4);
		margin: auto;
		background-color: var(--ghost);
	}
	:global(menu > li > label > input[type="button"]) {
		margin-left: auto;
	}
</style>
