<script>
	// Imports
	import 'iconify-icon';
	import language from "../language.js";
	import {
		receiveIso,
		receiveCurnc,
		receiveAmount,
		hostName,
		sendIso,
		sendCountryName,
		sendLang,
		sendCurnc,
		sendAmount,
		serviceGroup,
		openDropdown,
		isLoading,
		promise,
		payinPromo,
		uuidv4,
		serviceSelected,
		payinSelected,
		payoutSelected
	} from "../stores.js";

	// Exports
	export let optimusAll = [];
	export let disclaimer = false;

	// Props
	const pricesProducts = "/wuconnect/prices/products";
	let countryName;

	// Fetch product list
	export const fetchProducts = async () => {
		try {
			const bodyProducts = {
				origination: {
					country: $sendIso,
					currency: $sendCurnc,
					sendAmount: $sendAmount,
				},
				destination: {
					country: $receiveIso,
					currency: $receiveCurnc,
				},
			};
			const response = await fetch($hostName + pricesProducts, {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
					"x-api-key": "7bb8938a-bfeb-40a4-8a11-e702de87d855",
					"x-wu-externalRefId": $uuidv4
				},
				body: JSON.stringify(bodyProducts),
			});
			const data = await response.json();
			$serviceGroup = data.products;
			let highestRate = 0;
			$serviceGroup.forEach((item) => {
				switch (true) {
				case item.exchangeRate > highestRate:
					highestRate = item.exchangeRate;
					$serviceSelected = item;
					$payinSelected = $serviceSelected.payin;
					$payoutSelected = $serviceSelected.payout;
					break;
				case $payinPromo && highestRate === item.exchangeRate &&
					item.payin === $payinPromo:
					$serviceSelected = item;
					$payinSelected = $serviceSelected.payin;
					$payoutSelected = $serviceSelected.payout;
					break;
				}
			});
		} catch (error) {
			throw new Error(error);
		}
	};

	// Get local coutry names and replace main list country names
	const fetchOptimus = async () => {
		const bodyCountries = {
			origination: $sendIso,
			language: $sendLang,
			lists: [
				{
					name: "COUNTRY_LIST",
					type: "country",
				},
				{
					name: "TOP_COUNTRIES",
					type: "country",
				},
			],
			bashPath: `/${$sendIso}/${$sendLang}`,
		};
		try {
			const response = await fetch($hostName + "/wuconnect/dcaas/list.optimus.json?dcaasversion=R231220",
				{
					method: "POST",
					headers: {
						"Content-Type": "application/json",
						Accept: "application/json",
					},
					body: JSON.stringify(bodyCountries),
				},
			);
			const data = await response.json();
			optimusAll = data.COUNTRY_LIST;
			// optimusTop = Object.keys(data.TOP_COUNTRIES).map(key => Object.keys(data.TOP_COUNTRIES[key])[0]);

			// **** DEV
			console.log("optimusAll", optimusAll)
			// console.log("optimusTop", optimusTop)
		} catch (error) {
			throw new Error(error);
		}
	};

	// Handle calculation and number validation
	export const handleInput = (value, option) => {
		if (option === "sending") {
			$sendAmount = value;
			$receiveAmount = Math.floor($sendAmount * $serviceSelected.exchangeRate * 100) / 100;
		} else if (option === "receiving") {
			$receiveAmount = value;
			$sendAmount = Math.floor($receiveAmount / $serviceSelected.exchangeRate * 100) / 100;
		}
	};

	// Show or hide dropdown
	const handleButtonClick = () => {
		$openDropdown = !$openDropdown;
		disclaimer = false;
		const handleMenuClose = (event) => {
			const dropdownElement = document.querySelector("form");
			if (!dropdownElement.contains(event.target)) {
				$openDropdown = false;
				disclaimer = false;
				document.body.removeEventListener("click", handleMenuClose);
			}
		};
		document.body.addEventListener("click", handleMenuClose);
	};

	// Promise loader
	$promise = fetchProducts().then(() => fetchOptimus()).then(() => handleInput($sendAmount, "sending"))

	$: if($receiveIso in optimusAll) {
		$sendCountryName = optimusAll[$receiveIso];
	}


	$: if($receiveIso in optimusAll) {
		console.log(optimusAll[$receiveIso])
		countryName = optimusAll[$receiveIso];
	}
</script>

{#await $promise}
	<fieldset><input type="number" class="loading"></fieldset>
	<fieldset><input type="number" class="loading"></fieldset>
{:then}
	<!-- Sending -->
	<fieldset>
		<label for="sending">{$language[$sendLang].sendlabel}</label>
		<input
			type="number"
			id="sending"
			name="sending"
			step="0.01"
			autocomplete="off"
			inputmode="numeric"
			bind:value={$sendAmount}
			on:input={() => handleInput($sendAmount, "sending")}
			on:change={() => fetchProducts()}
		/>
		<button on:click|stopPropagation={() => disclaimer = !disclaimer}>
			<iconify-icon icon="circle-flags:{$sendIso.toLowerCase()}" width="28" height="28"></iconify-icon>
			{$sendCurnc}
			<iconify-icon icon="iconamoon:arrow-down-2" width="24" height="24"></iconify-icon>
		</button>
	</fieldset>
	<!-- Receiving -->
	<fieldset>
		<label for="receiving">{$language[$sendLang].receivelabel}</label>
		<input
			type="number"
			id="receiving"
			name="receiving"
			step="0.01"
			autocomplete="off"
			inputmode="numeric"
			bind:value={$receiveAmount}
			on:input={() => handleInput($receiveAmount, "receiving")}
			on:change={() => fetchProducts()}
		/>
		<button on:click|stopPropagation={handleButtonClick}>
			{#if $isLoading}
				<iconify-icon icon="svg-spinners:ring-resize" width="24" height="24"></iconify-icon>
			{:else}
				<iconify-icon icon="circle-flags:{$receiveIso.toLowerCase()}" width="28" height="28" class="flag" class:fly={!$isLoading}></iconify-icon>
			{/if}
			{$receiveCurnc}
			<iconify-icon icon="iconamoon:arrow-down-2" width="24" height="24"></iconify-icon>
		</button>
	</fieldset>
{/await}

<style>
	:global(svg) {
		background-color: aqua;
		height: 40px;
		width: 40px;
		display: flex !important;
		z-index: 999999;
	}
	.flag {
		border-radius: 100px;
		min-height: 30px;
		min-width: 30px;
		background-color: var(--ghost);
	}
	fieldset, input, label, button, iconify-icon {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	/* Inputs */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		appearance: none;
		margin: 0;
	}
	fieldset {
		position: relative;
		width: 100%;
		border: none;
		overflow: hidden;
	}
	fieldset:focus-within label {
		color: var(--dark);
		transition: all 0.15s ease-out;
	}
	label {
		position: absolute;
		top: var(--remmy);
		left: calc(var(--remmy) * 1.2);
		font-size: calc(var(--remmy) / 1.1);
		color: var(--grey);
		pointer-events: none;
		display: block;
	}
	input {
		height: 100%;
		width: 100%;
		background-color: white;
		transition: all 0.15s ease-out;
		border-radius: var(--rad);
		border: 1px solid var(--greyish);
		outline: 0px solid transparent;
		outline-offset: 0px;
		font-family: 'Euclid WU';
		font-size: calc(var(--remmy) * 1.5);
		color: var(--dark);
		font-weight: 500;
		text-align: left;
	}
	input[type="number"] {
		padding: 0 calc(var(--remmy) * 1.2);
		padding-top: calc(var(--remmy) * 2.2);
		padding-bottom: calc(var(--remmy) / 1.6);
		letter-spacing: 0.06rem;
	}
	input:focus {
		outline: 2.5px solid var(--dark);
		outline-offset: -2.5px;
	}
	input::-webkit-contacts-auto-fill-button {
		visibility: hidden;
		pointer-events: none;
		position: absolute;
	}
	/* Flex */
	button {
		display: inline-flex;
		align-items: center;
		align-content: center;
		position: absolute;
		right: calc(var(--remmy) * 1.2);
		height: 100%;
		gap: calc(var(--remmy) / 1.6);
		font-family: 'Euclid WU';
		font-size: calc(var(--remmy) * 1.1);
		font-weight: 500;
		color: var(--dark);
		background: none;
		border: none;
		cursor: pointer;
	}
</style>