<script>
	import language from "../language.js";
	import { slide, fly } from "svelte/transition";
	import { quintOut } from "svelte/easing";
	import {
		sendIso,
		sendLang,
		receiveIso,
		receiveCurnc,
		sendCurnc,
		sendAmount,
        promise,
        hostName,
		serviceGroup,
		payinSelected,
		payoutSelected,
		serviceSelected,
		openSelections
	} from "../stores.js";
	export let handleInput;

	const mergeEverything = async() => {
		[$serviceSelected] = $serviceGroup.filter(group => group.payin === $payinSelected && group.payout === $payoutSelected);
	}

	$: serviceGroupPayin = [...new Map($serviceGroup.map(v => [v.payin, v])).values()]
	$: serviceGroupPayout = [...new Map($serviceGroup.map(v => [v.payout, v])).values()]

	// Show or hide dropdown
	// const handleMenuClose = (event) => {
	// 	const dropdownElement = document.querySelector("form");
	// 	if (!dropdownElement.contains(event.target)) {
	// 		$openSelections = !$openSelections;
	// 		document.body.removeEventListener("click", handleMenuClose);
	// 	}
	// };
	// document.body.addEventListener("click", handleMenuClose);

	// DEV
	$: console.log("%c $serviceSelected", "color:red;font-weight:bold", $serviceSelected);
</script>

{#if (serviceGroupPayin && serviceGroupPayout).length > 0 && $openSelections}
	<!-- <div class:fly={() => ($openSelections = !$openSelections)} out:fly={{ duration: 2000, y: 2000, opacity: 1, easing: quintOut}}>
		<h4>{$language[$sendLang].tablesend}</h4>
		<article>
			<h4>{@html $language[$sendLang].tablesend}</h4>
				{#each serviceGroupPayin as {payin}, i}
						<input type="radio" id="payin{i}" name="payinselect" bind:group={$payinSelected} value={payin} on:change={() => (mergeEverything(), handleInput($sendAmount, "sending"), $openSelections = !$openSelections)}>
						<label for="payin{i}">
							{$language[$sendLang][payin]}
						</label>
				{/each}
		</article>
		<h4>{$language[$sendLang].tablereceive}</h4>
		<article>
			<h4>{@html $language[$sendLang].tablereceive}</h4>
				{#each serviceGroupPayout as {payout}, i}
					<input type="radio" id="payout{i}" name="payoutselect" bind:group={$payoutSelected} value={payout} on:change={() => (mergeEverything(), handleInput($sendAmount, "sending"), $openSelections = !$openSelections)}>
					<label for="payout{i}">
						{$language[$sendLang][payout]}
					</label>
				{/each}
		</article>
	</div> -->
	<select name="payinselect" id="payinselect" bind:value={$payinSelected} on:change={() => (mergeEverything(), handleInput($sendAmount, "sending"))}>
		{#each serviceGroupPayin as {payin}}
			<option value={payin}>{$language[$sendLang][payin]}</option>
		{/each}
	</select>
	<select name="payoutselect" id="payoutselect" bind:value={$payoutSelected} on:change={() => (mergeEverything(), handleInput($sendAmount, "sending"))}>
		{#each serviceGroupPayout as {payout}}
			<option value={payout}>{$language[$sendLang][payout]}</option>
		{/each}
	</select>
{/if}

<style>
	div, article, label, input, h4 {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	div {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		align-content: flex-start;
		justify-content: flex-start;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: white;
		border-radius: calc(var(--rad) * 2);
		bottom: 0;
		overflow: auto;
		padding: calc(var(--remmy) * 1.4);
		gap: calc(var(--remmy) * 1.4);
	}
	article {
		/* padding: calc(var(--remmy) * 1.4) var(--remmy); */
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	label {
		display: inline-flex;
		padding: calc(var(--remmy) / 1.5) var(--remmy);
		cursor: pointer;
		width: 100%;
		border-radius: calc(var(--rad) / 2);
	}
	label:hover {
		background-color: var(--ghost);
	}
	input {
		-webkit-appearance: none;
		appearance: none;
		display: none;
	}
	input:checked + label {
		background-color: var(--light);
	}
</style>