<script>
	// Imports
	import language from "../language.js";
	import {
		sendIso,
		sendLang,
		receiveIso,
		receiveCurnc,
		sendCurnc,
		sendAmount,
        promise,
        hostName,
		serviceGroup,
		payinSelected,
		payoutSelected,
		uuidv4,
		serviceSelected,
		openSelections
	} from "../stores.js";

	// Props
	export let disclaimer;
	let tpReviewApi;
	const tpLink = "https://widget.trustpilot.com/trustbox-data/5419b637fa0340045cd0c936?businessUnitId=46d8a174000064000500f9f4&locale=";

	// Fetch product list
	const fetchTrustPilot = async () => {
		try {
			const response = await fetch(tpLink + `${$sendLang}-${$sendIso}`, {
				method: "GET"
			});
			const data = await response.json();
			tpReviewApi = data;
			console.log("TP_data", data);
		} catch (error) {
			throw new Error(error);
		}
	};
	fetchTrustPilot();

	// ************************* DEVELOPMENT
	$: serviceGroupPayin = [...new Map($serviceGroup.map(v => [v.payin, v])).values()]
	$: serviceGroupPayout = [...new Map($serviceGroup.map(v => [v.payout, v])).values()]

	$: console.log("payinSelected", $payinSelected);
	$: console.log("payoutSelected", $payoutSelected);
	$: console.log("%c serviceGroupPayout", "color:purple;font-weight:bold", serviceGroupPayout);
	$: console.log("%c serviceGroupPayin", "color:violet;font-weight:bold", serviceGroupPayin);
	$: console.log("%c uuidv4", "color:blue;font-weight:bold", $uuidv4);
	// $: console.log("%c $serviceSelected", "color:red;font-weight:bold", $serviceSelected);
	$: console.log("%c $serviceGroup", "color:green;font-weight:bold", $serviceGroup);
</script>

{#await $promise}
	<div class="loading"></div>
{:then}
	{#if tpReviewApi}
		<a href="https://www.trustpilot.com/review/westernunion.com" target="_blank" rel="noopener">
			<b>{tpReviewApi.starsString}</b>
			{tpReviewApi.businessEntity.stars}
			{@html tpReviewApi.translations.main}
			<img src="tplogo.svg" alt="Trustpilot logo in black colour" height="20">
		</a>
	{/if}
	<div>
		{#if disclaimer}
			<article>
				<h4>{@html $language[$sendLang].disclaimer}</h4>
				<!-- svelte-ignore a11y-click-events-have-key-events -->
			</article>
		{/if}
		<article>
			<h4>{@html $language[$sendLang].tablefee}</h4>
			<p>{$serviceSelected.grossFee} {$sendCurnc}</p>
		</article>
		<article>
			<h4>{@html $language[$sendLang].tablerate}</h4>
			<p>
				{$serviceSelected.exchangeRate.toFixed(4)}
				{$receiveCurnc}
			</p>
		</article>
		<article>
			<h4>{@html $language[$sendLang].tablesend}</h4>
			<button on:click={() => $openSelections = !$openSelections}>
				{$language[$sendLang][$payinSelected]}
				<iconify-icon icon="iconamoon:arrow-down-2" width="18" height="18"></iconify-icon>
			</button>
		</article>
		<article>
			<h4>{@html $language[$sendLang].tablereceive}</h4>
			<button on:click={() => $openSelections = !$openSelections}>
				{$language[$sendLang][$payoutSelected]}
				<iconify-icon icon="iconamoon:arrow-down-2" width="18" height="18"></iconify-icon>
			</button>
		</article>
	</div>
{:catch}
	<ul class="error">
		<span>
			{$sendCurnc}
		</span>
		<span>
			{$receiveCurnc}
		</span>
		<a href={`${$hostName}/${$sendIso.toLowerCase()}/${$sendLang.toLowerCase()}/web/send-money/start?ReceiveCountry=${$receiveIso}&ISOCurrency=${$receiveCurnc}&SendAmount=${$sendAmount}`}>{$language[$sendLang].cta}</a>
	</ul>
{/await}

<style>
	div {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
		justify-content: space-between;
		border-radius: var(--rad);
		width: 100%;
		min-height: calc(var(--remmy) * 10);
		max-height: calc(var(--remmy) * 10);
		height: auto;
		position: relative;
		background-color: var(--ghost);
		padding: calc(var(--remmy) * 1.4);
	}
	p {
		font-weight: 500;
		color: var(--dark);
	}
	h4 {
		font-weight: 400;
		color: var(--grey);
	}
	h4, p {
		padding: 0;
		margin: 0;
		font-size: calc(var(--remmy) / 1.1);
	}
	:global(section > svg) {
		margin-right: calc(var(--remmy) / 1.5);
		background-color: var(--light);
		padding: calc(var(--rad) / 4);
		border-radius: calc(var(--rad) * 4);
		vertical-align: middle;
		box-sizing: border-box;
		display: none;
	}
	article {
		box-sizing: border-box;
		display: flex;
		align-items: flex-start;
		align-content: flex-start;
		justify-content: space-between;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	a {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		width: 100%;
		min-height: calc(var(--remmy) * 3.5);
		gap: calc(var(--remmy) / 2);
		color: var(--dark);
		background-color: var(--light);
		border-radius: var(--rad);
		font-family: 'Euclid WU';
		font-weight: 400;
		font-size: calc(var(--remmy) / 1.1);
		text-align: center;
		text-decoration: none;
		color: var(--dark);
	}
	a > :global(span:first-of-type) {
		display: none;
	}
	button {
		box-sizing: border-box;
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: flex-end;
		margin: 0;
		padding: 0;
		font-family: 'Euclid WU';
		font-weight: 500;
		font-size: calc(var(--remmy) / 1.1);
		color: var(--dark);
		border: none;
		background: none;
		cursor: pointer;
	}
	#special {
		color: white;
		font-size: calc(var(--remmy) / 1.3);
		font-weight: 500;
		border-radius: calc(var(--rad) / 2);
		background-color: var(--blue);
		padding: calc(var(--remmy) / 6) calc(var(--remmy) / 2);
	}
	.error {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		align-content: center;
		justify-content: center;
		width: 100%;
		gap: calc(var(--remmy) * 1.4);
		padding: var(--remmy);
		padding-top: calc(var(--remmy) * 1.4);
	}
	.error > span {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: flex-start;
		gap: var(--remmy);
	}
	.error > a {
		text-align: center;
		border-radius: 100px;
		padding: 20px 48px;
		background-color: var(--dark);
		color: white;
		width: 100%;
		font-size: 1.1rem;
		transition: all 0.1s ease-out;
	}
	.error > a:hover {
		opacity: 0.9;
	}
	.error > a:active {
		transform: scale3d(0.98, 0.98, 1);
	}
</style>
