<script>
	// Imports
	import PriceCatalog from "./PriceAPI/PriceCatalog.svelte";
	import PriceCorridors from "./PriceAPI/PriceCorridors.svelte";
	import PriceSelections from "./PriceAPI/PriceSelections.svelte";
	import SummaryTable from './PriceAPI/SummaryTable.svelte';
	import language from "./language.js";
	import { onMount } from 'svelte';
	import {
		receiveIso,
		receiveCurnc,
		hostName,
		sendLang,
		sendIso,
		sendAmount,
		openDropdown,
        promise,
		isLoading,
		payinSelected,
		payoutSelected,
		uuidv4
	} from "./stores.js";

	// Props
	let fetchProducts;
	export let handleInput;
	let countryiso;
	let currencyiso;
	let hrefLocation = "";
	let payoutCode = "";

	// Exports
	export let optimusAll;
	export let disclaimer;
	export let openSelections;

	$: switch ($payoutSelected) {
		case "000":
		case "100":
		case "102":
		case "400":
			payoutCode = "MM";
			break;
		case "200":
			payoutCode = "D2";
			break;
		case "300":
		case "402":
			payoutCode = "ND";
			break;
		case "500":
			payoutCode = "DB";
			break;
		case "600":
		case "800":
			payoutCode = "MB";
			break;
		case "501":
			payoutCode = "XXXXXX";
			break;
		default:
			payoutCode = "MM";
			break;
	}

	// Submit CTA
	$: hrefLocation = `${$hostName}/${$sendIso.toLowerCase()}/${$sendLang.toLowerCase()}/web/user/register?ReceiveCountry=${$receiveIso}&ISOCurrency=${$receiveCurnc}&SendAmount=${$sendAmount}&funds-out=${payoutCode}&funds-in=${$payinSelected}`;

	// Set new receiver props values
	export const resetReceiver = async (currencyiso, countryiso) => {
		try {
			receiveCurnc.set(currencyiso);
			receiveIso.set(countryiso);
			$isLoading = true;
			await fetchProducts();
			handleInput($sendAmount, "sending");
			$isLoading = false;
		} catch (error) {
			setTimeout(() => resetReceiver(currencyiso, countryiso), 4000);
		}
	};

	// Click vibration
	const vibrateClick = () => {
		if ("vibrate" in navigator || window.navigator.vibrate) {
			window.navigator.vibrate(50)
		}
	}

	// Re-fetch each X time
	onMount(() => {
		// 10 minutes 
		let sessionDuration = 600000;
		const timeoutId = setInterval(() => {
			$promise = fetchProducts().then(() => handleInput($sendAmount, "sending"));
		}, sessionDuration);
		return () => clearInterval(timeoutId);
	});

	// Generate random user id
	const uuidv4Generate = () => {
		return 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'
		.replace(/[xy]/g, function (c) {
			const r = Math.random() * 16 | 0, 
				v = c == 'x' ? r : (r & 0x3 | 0x8);
			return v.toString(16);
		});
	}
	$uuidv4 = uuidv4Generate();
</script>

<div id="dynamocalc">
	<form on:submit|preventDefault>
		<PriceCatalog bind:fetchProducts bind:handleInput bind:optimusAll bind:disclaimer />
		<SummaryTable bind:openSelections {resetReceiver} {disclaimer} />
		{#if $openDropdown}
			<PriceCorridors bind:countryiso bind:currencyiso {optimusAll} {resetReceiver} />
		{/if}
		<PriceSelections bind:openSelections bind:handleInput />
	</form>
	<!-- CTA -->
	{#await $promise}
		<!-- svelte-ignore a11y-invalid-attribute -->
		<a href="#" class="loading" style="color: #a0a0a0;">&nbsp;</a>
	{:then}
		<a href={hrefLocation} on:click={() => vibrateClick()}>{$language[$sendLang].cta}</a>
	{/await}
</div>

<style>
	@font-face {
		font-family: 'Euclid WU';
		src: 
			url("https://www.westernunion.com/staticassets/R24-02.01.0/css/src/assets/fonts/EN/euclidwu-regular-webfont.woff2") format("woff2");
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Euclid WU';
		src: 
			url("https://www.westernunion.com/staticassets/R24-02.01.0/css/src/assets/fonts/EN/euclidwu-medium-webfont.woff2") format("woff2");
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}
	:global(.loading) {
		background: repeating-linear-gradient(to right, var(--ghost) 0%, var(--ghost) 60%, white 80%, var(--ghost) 100%);
		background-size: 200% auto;
		background-position: 0 0;
		animation: gradient 1s infinite;
		animation-fill-mode: forwards;
		animation-timing-function: ease;
		border: none !important;
	}
	@keyframes gradient {
		from {
			background-position: 0 0;
		}
		to {
			background-position: -200% 0;
		}
	}
	:root {
		--grey: #808080;
		--greyish: #C0C0C0;
		--light: #E0E0E0;
		--ghost: #F4F4F4;
		--dark: #0F0F0F;
		--darker: #0A0A0A;
		--blue: #0a8cf2;
		--green: #049D79;
		--yellow: #ffdd00;
		--red: #e94368;
		--remmy: 1rem;
		--rad: .8rem;
	}
	form {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
		justify-content: center;
		width: 100%;
		border: none;
		gap: calc(var(--remmy) * 1.25);
		margin-bottom: calc(var(--remmy) / 3);
		overflow: auto;
	}
	#dynamocalc {
		box-sizing: border-box;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		align-content: flex-start;
		justify-content: center;
		min-width: 340px;
		max-width: 440px;
		width: 100%;
		position: relative;
		background-color: white;
		border-radius: calc(var(--rad) * 2);
		padding: calc(var(--remmy) * 1.75) calc(var(--remmy) * 1.4);
		gap: calc(var(--remmy) * 1.4);
		overscroll-behavior: contain;
		font-family: 'Euclid WU';
		overflow: hidden;
	}
	a {
		box-sizing: border-box;
		text-decoration: none;
		text-align: center;
		border-radius: 100px;
		padding: 20px 48px;
		background-color: var(--dark);
		color: white;
		width: 100%;
		font-size: calc(var(--remmy) * 1.15);
		transition: all 0.1s ease-out;
	}
	a:hover {
		opacity: 0.9;
	}
	a:active {
		transform: scale3d(0.98, 0.98, 1);
	}
	a:disabled {
		cursor: not-allowed;
		background-color: var(--greygrey);
		color: var(--grey);
	}
	:global(.fly) {
		animation: flyin .4s cubic-bezier(0.165, 0.84, 0.44, 1);
	}
	@keyframes flyin {
		from {
			transform: translate3d(0, 600px, 0);
		}
		to { 
			transform: translate3d(0, 0, 0);
		}
	}
	@media screen and (max-width: 480px) {
		#dynamocalc {
			padding: calc(var(--remmy) * 1.3) var(--remmy);
		}
		form {
			gap: var(--remmy);
		}
	}
</style>
